@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'),
       url('../icons/material_icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 10%;
  z-index:1;
}

body,#corpo{
  width:100vw;
  height:100vh;
}
body{
  overflow:hidden;
}
#video,#canvas{
  position:absolute;
  top:50%;
  left:50%;
  width:auto;
  height:auto;
  min-width: 100%;
  min-height:100%;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

li{
  display:inline;
  padding:1em;
}
.to-right{
  float:right;
}
.to-left{
  float:left;
}
.icons{
  font-size:50px;
  color:#fff;
}