@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400; 
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'),
       url('../icons/material_icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; 

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 10%;
  z-index:2;
}

body,#corpo{
  width:100vw;
  height:100vh;
}

body{
  overflow:hidden;
}

#video,#canvas{
  position:absolute;
  top:50%;
  left:50%;
  width:auto;
  height:auto;
  min-width: 100%;
  min-height:100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

ul{
  text-align:center;
}
li{
  display:inline;
  width: 33.33%;
}
i{
  padding: 12px;
}
.fullscreen{
  float:right;
  text-align:right;
}
.config{
  float:left;
  text-align:left;
}
.icons{
  font-size:35px;
  color:#fff;
  text-shadow: 1px 1px 5px #000;
}
.modal {
    width: 85%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 1;
    padding: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
            -webkit-flex-direction: column;
    
                -ms-flex-direction: column;
    
                    flex-direction: column;
    color: white;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}
.modal-conteudo{
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
}
.modal-conteudo h1{
  margin-bottom: .5em;
}
#config-div label{
  font-size:12px;
}
#config-div div{
  padding:10px 0;
  width:80%;
  display: inline-block;
}
#config-div div{
  text-align:left;
}
#config-div h2{
  font-size:16px;
}
#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    position: fixed;
}

/*Configurações do div overlay*/
.hidden{
  max-height: 0vh;
  display: none;
}
.visible{
  max-height:100vh;
}
#overlay{
  transition: max-height 0.4s;
}

/* Configurações do modal */
.modal-conteudo *{
  text-align:center;
}
.modal{
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.hidden-modal{
  -webkit-transform: translate(-50%,-250%);
          transform: translate(-50%,-250%);
}

#modal-config button[type='button']{
  color: #fff;
  border: 1px solid;
  border-radius: 5%;
  background-color: transparent;
  padding: 5px;
  text-shadow: 0px 0px 5px #000;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
}

button#aplicar{
  width: 45%;
}

#close-li{
  float:right;
  text-align: right;
}
#config-div h2{
  font-size: 18px;
}
#modal-config button[type="button"]:active{
  color: gray;
  border: 1px solid gray;
  background-color: white;
  text-shadow: none;
}
.modal-conteudo label {
  font-size: 16px;
}
.modal-conteudo button {
    margin: 0.5em 0.2em;
}
/* Div precisão de detecção*/
div#precisao-deteccao {
  text-align: center;
}
div#precisao-deteccao p, div#precisao-deteccao button{
  display:inline;
}
div#precisao-deteccao p{
  margin-left:.2em;
  margin-right:.2em;
}
#precisao-deteccao button[type="button"] {
  padding: .3em;
  width: 13%;
}
span#valor-precisao {
    margin: 0 .2em;
}