@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../static/icons/material_icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
 
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.titulo{
  font-size:0.5em; /*padrao: 29.4px;*/
}
nav .nav-wrapper i {
  font-size: 1.5rem; /*valor padrao: 2rem */
}
main{
  flex: 1 0 auto;
  background-color: #f6f6f6;
  display:flex;
  flex-direction: column;
}
div#corpo{
  flex: 1 0 auto;
}
img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    padding-top: 3px;
}

canvas, video{
    box-shadow: 5px 5px 1px #ccc;
}

h1{
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px #999;
    background-color: #92c46d;
    border-bottom: solid 1px #ccc;
    padding: 10px;
}

#status{
    font-size: 13px;
    background-color: #fff;
    padding: 6px;
    border-bottom: solid 1px #ccc;
    text-shadow: 1px 1px #ddd;
}

footer{
    font-size: 11px;
    color: #333;
    text-shadow: 1px 1px #eee;
    padding: 15px 0;
}

a:link{
    font-weight: bold;
    text-decoration: none;
}

/* O vídeo sempre estará no centro, a pagina nao terá scroll.
 Com este css, a div#corpo não precisa ser flex container.
 Adicionar uma resolução máxima para o width 100% na media query.*/

div#corpo{
  position:relative;
  /*overflow:hidden;*/
}
video,canvas{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
 /* margin-left: -45%;*/
}
@media only screen and (orientation: portrait){
  video,canvas{
    height:100%;
    width: inherit;
  }    
}
@media only screen and (orientation: landscape){
  video,canvas{
    width:100%;
    height:inherit;
  }    
}
